*{
    margin:0;
    padding: 0;
}

#game{
    background-color: red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-figth{
    width: 300px;
    font-size: 16pt;
}